/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


:root {
  --cor-primaria: #EE200D;
  --cor-input: #F5F5F5;
  --cor-status-ativo: #1DC901;

}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  width: 100vw;
  height: 100vh;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


.container-inputs {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.full-width {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

